@import "variables";
@import "mixins";

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="time"],
select,
textarea{
  border: .5px solid lighten($gray, 30%);
  background: #fff;
  color: #4a4a4a;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.field{
  margin: 10px 0;
}

button{
  padding: 10px 15px;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
  cursor: pointer;
  @include shadow(2);
  margin: 10px 0;
  transition: all .2s;

  &:active{
    @include shadow(1);
  }

  &.success{
    background: $blue;

    &::after{
      content: '\f00c';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }
}

.input_icono{
  background: #fff;
  border: .5px solid lighten($gray, 30%);
  padding: 5px;
  border-radius: 5px;
  display: table;

  i{
    margin: 0 10px 0 5px;
    color: darken($gray,20%);
  }

  input{
    border: 0;
    padding: 0;
  }
}
