@import "variables";
@import "mixins";

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="time"],
select,
textarea{
  border: .5px solid lighten($gris, 30%);
  background: #fff;
  color: #4a4a4a;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.field{
  margin: 10px 0;
}

button,
input[type="submit"]{
  padding: 10px 15px;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
  cursor: pointer;
  @include shadow(1);
  margin: 10px 0;
  transition: all .2s;

  &:hover{
    @include shadow(2);
  }

  &:active{
    @include shadow(1);
  }

  &.success{
    background: darken($color_secundario,25%);

    &::after{
      content: '\f00c';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }

    &:hover{
      background: lighten(darken($color_secundario,25%), 10%);
    }

    &:active{
      background: darken($color_secundario, 10%);
    }
  }
}

.input_icono{
  background: #fff;
  border: .5px solid lighten($gris, 30%);
  padding: 5px;
  border-radius: 5px;
  display: table;

  i{
    margin: 0 10px 0 5px;
    color: darken($gris,20%);
  }

  input{
    border: 0;
    padding: 0;
  }
}

.texto_error{
  color: $color_peligro;
  font-size: .8rem;
  display: none;

  &.activo{
    display: block !important;
  }
}

.obligatorio{
  color: $color_peligro;
}
