@import "variables";
@import "mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  // border: 1px solid red;
  font-size: 100%;

  &:before,
  &:after{
    box-sizing: border-box;
  }
}

body{
  min-height: 100%;
  background-color: $white;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr;
}

img{
  @include square(100%);
}

input, button, textarea, select{
  &:focus{
    outline: none;
  }
}

.flex{
  display: flex;

  &.center-X{
    justify-content: center;
  }

  &.center-Y{
    align-items: center;
  }
}

a{
  text-decoration: none;
  color: darken($color_primario, 10%);
}
