@import "variables";
@import "mixins";

header{
  background: #fff;
  // grid-column: 2 / span 10;
  position: fixed;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px 0 210px;
  z-index: 1000;
  // @include shadow(1);
}

#profile_photo{
  @include square(60px);

  img{
    @include square(100%);
    @include circle(100%);
  }
}

#informacion_usuario{
  cursor: pointer;
}

#informacion_usuario_nombre{
  p{
    font-size: .85rem;
    margin-right: 10px;
    color: $carbon;

    &:first-child{
      font-weight: bolder;
    }
  }
}

#titulo_vista{
  font-weight: lighter;
  font-size: 1.1rem;
  color: darken($color_primario,5%);
}

#opciones_sesion{
  background: #fff;
  position: fixed;
  right: 0;
  top: 80px;
  display: none;
  padding: 13px;
  border-bottom-left-radius: 10px;
  transition: display .3s;
  // z-index: -100;

  &.activo{
    display: block;
  }
}

#enlaces_sesion{
  flex-direction: column;
}

#foto_sesion img{
  @include circle(60px);
  // border: 1px solid $gris;
  margin-right: 30px;
}
