@import "variables";
@import "mixins";

#login_main_container{
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg_login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

#logo_da_login{
  // grid-row: 1 /span 1;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: auto;
}

.formulario_login{
  // width: 300px;
  position: relative;
  background: #fff;
  @include shadow(2);
  padding: 40px;
  display: table;
}

.field_login{
  margin: 20px 0;
}

.titulo_login{
  color: $color_primario;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
}

.boton_alargado{
  border-radius: 100px !important;
  margin-right: 50px;
  box-shadow: none;

  &:hover, &:active{
    box-shadow: none;
  }

  &.login{
    // background: $color_exito;

    &::after{
      content: "\f061";
      font-family: "FontAwesome";
    }
  }
}

.logo_login{
  padding: 10px;
  @include shadow(1);
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: -40px;
  right: -40px;
  margin: 0 auto;

  img{
    width: 80px;
    height: auto;
  }
}

.input_login{
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 1px solid lighten($carbon,30%) !important;
  transition: all .3s;
  font-size: .9rem !important;
  line-height: 25px;

  &:focus{
    border-bottom: 1px solid $color_primario !important;
  }
}

.button_link_login{
  justify-content: space-between;
}
