#main_content{
  padding: 20px 100px;

  *{
    // border: 1px solid red;
  }
}

.title_section{
  grid-column: 2/span 10;
  height: 100px;
  justify-content: space-between;
  color: #7F7F7F;
  // background: $color_exito;

  p{
    font-size: 20px;
  }
}

.caca{
  border: 1px solid $color_peligro;
  height: 100px;
  grid-row: 2;
}
