@import "variables";
@import "mixins";

$espacio_icono: 55px;

nav{
  // display: grid;
  // grid-template-columns: 1fr;

  .nav_iconbar{
    // background: darken($color_primario, 45%);
    background: #343434;
    height: 100vh;
    width: $espacio_icono;
    position: fixed;
    left: 0;
    padding-top: $header_height;
    z-index: 99;

    .icon_nav{
      color: #fff;
      width: 100%;
      height: $espacio_icono;
    }
  }

  .nav_labelsbar{
    width: $espacio_icono * 3.5;
    background: darken($color_primario, 20%);
    height: 100vh;
    position: fixed;
    // left: $espacio_icono;
    left: -100%;
    top: 0;
    padding-top: $header_height;
    z-index: 98;
    transition: left .5s;

    .text_nav{
      width: 100%;
      height: $espacio_icono;
      padding-left: 10px;
      color: #fff;
      transition: background .5s;

      &:not(.first_label_nav):hover{
        background: #fff;
        color: $color_primario;
      }
    }
  }

  &:hover{
    .nav_labelsbar{
      left: $espacio_icono;
    }
  }
}
