@import "variables";
@import "mixins";

$espacio_icono: 55px;

nav{
  position: fixed;
  background: #fff;
  top: 0;
  left: 0px;
  // grid-row: 1 / span 2;
  width: 200px;
  height: 100vh;
  @include shadow(1);
  z-index: 1000;
}

#logo_imagen{
  height: 80px;

  img{
    @include square(75%);
  }
}

.text_nav{
  display: flex;
  padding: 15px 15px 15px 20px;
  color: lighten($carbon, 35%);
  transition: all .3s ease-in-out;

  &:hover{
    background: darken($color_primario, 5%);
    padding-left: 25px;
    color: #fff;
  }

  i{
    margin-right: 10px;
  }
}

.linea_separacion{
  width: 30%;
  height: 1px;
  background: lighten($gris, 25%);
  margin: 0 auto;
  margin-bottom: 10px;
}
