$deepblue: #323A4B;
$blue: #3368d6;
$white: #F3F7FA;
$gray: #95949B;
$red: #EE4040;
$carbon: #303030;
$green: #32d05e;

// $deepblue: darken(#7282ba,15%);
// $deepblue: #7282ba;
// $blue: #15d1b8;
// $white: #dedee0;
// $gray: #95949B;
// $red: #ff4f15;
// $carbon: #303030;
// $green: #0dd2a9;

$header_height: 150px;

// $deepblue: rgba(42, 213, 190, 1);
// $blue: #228797;
// $white:  #F7F0F0;
// $gray: #95949B;
// $red: rgba(255, 10, 23, 1);
// $carbon: #303030;
// $green: rgba(93, 224, 196, 1);
// $poop: #496100;
// AJSDGF
