// $color_primario: #323A4B;
// $color_secundario: #3368d6;
// $white: #f4f4f4;
// $gris: #95949B;
// $color_peligro: #EE4040;
// $carbon: #303030;
// $color_exito: #32d05e;

$header_height: 150px;

$color_primario: #03738c;
$color_secundario: #024959;
$white: #f4f4f4;
$gris: #95949B;
$color_peligro: #ff0a17;
$carbon: #303030;
$color_exito: #23d171;
