/* Coolors Exported Palette - coolors.co/23d171-2ad5be-5de0c4-f5eccd-ff0a17 */

/* HSL */
$color1: hsla(147%, 71%, 48%, 1);
$color2: hsla(172%, 67%, 50%, 1);
$color3: hsla(167%, 68%, 62%, 1);
$color4: hsla(47%, 67%, 88%, 1);
$color5: hsla(357%, 100%, 52%, 1);

/* RGB */
$color1: rgba(35, 209, 113, 1);
$color2: rgba(42, 213, 190, 1);
$color3: rgba(93, 224, 196, 1);
$color4: rgba(245, 236, 205, 1);
$color5: rgba(255, 10, 23, 1);