* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #F3F7FA;
  height: 100vh;
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 150px 1fr;
}

img {
  width: 100%;
  height: 100%;
}

input:focus, button:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.center-X {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.center-Y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

a.color {
  background: #3368d6;
}

header {
  background: #323A4B;
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

@media only screen and (max-width: 399px) {
  header {
    height: 80px;
  }
}

#appdata {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#appdata #logo {
  height: 100%;
}

#appdata #logo #logo_container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#appdata #logo #logo_container #logo_image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 30px;
}

#appdata #logo #logo_container #logo_image img {
  border-radius: 50%;
}

#appdata #logo #logo_container p {
  margin-left: 10px;
  color: #F3F7FA;
  font-style: 25px;
}

#appdata #user_session_options {
  height: 100%;
}

#appdata #user_session_options #profile_photo_container {
  height: 100%;
  margin-right: 30px;
  color: #F3F7FA;
}

#appdata #user_session_options #profile_photo_container p {
  padding-left: 10px;
}

@media only screen and (max-width: 767px) {
  #appdata #user_session_options #profile_photo_container p {
    display: none;
  }
}

#appdata #user_session_options #profile_photo_container #profile_photo {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

#appdata #user_session_options #profile_photo_container #profile_photo:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #32d05e;
  position: absolute;
  right: -5px;
  bottom: 0;
  border: 2px solid #323A4B;
}

#appdata #user_session_options #profile_photo_container #profile_photo img {
  border-radius: 50%;
}

#actionbar {
  background: #fff;
  height: 70px;
  width: 100%;
  padding: 0 70px;
}

#actionbar .section_actionbar {
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  #actionbar .section_actionbar.right {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #actionbar .section_actionbar.left {
    width: 100%;
  }
}

@media only screen and (max-width: 399px) {
  #actionbar {
    display: none;
  }
}

#msg_container {
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#msg_container div {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: transparent;
  border: 2px solid #95949B;
  position: relative;
}

#msg_container div i {
  color: #95949B;
  font-size: 20px;
}

#full_date {
  font-size: 18px;
  margin-right: 20px;
  color: #95949B;
}

nav .nav_iconbar {
  background: #1e222c;
  height: 100vh;
  width: 55px;
  position: fixed;
  left: 0;
  padding-top: 150px;
  z-index: 99;
}

nav .nav_iconbar .icon_nav {
  color: #fff;
  width: 100%;
  height: 55px;
}

nav .nav_labelsbar {
  width: 192.5px;
  background: #282e3c;
  height: 100vh;
  position: fixed;
  left: -100%;
  top: 0;
  padding-top: 150px;
  z-index: 98;
  -webkit-transition: left .5s;
  transition: left .5s;
}

nav .nav_labelsbar .label_nav {
  width: 100%;
  height: 55px;
  padding-left: 10px;
  color: #fff;
  -webkit-transition: background .5s;
  transition: background .5s;
}

nav .nav_labelsbar .label_nav:hover {
  background: #3368d6;
}

nav:hover .nav_labelsbar {
  left: 55px;
}

#main_content {
  padding: 20px 100px;
}

.title_section {
  grid-column: 2/span 10;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #7F7F7F;
}

.title_section p {
  font-size: 20px;
}

.caca {
  border: 1px solid #EE4040;
  height: 100px;
  grid-row: 2;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="time"],
select,
textarea {
  border: 0.5px solid #e3e3e5;
  background: #fff;
  color: #4a4a4a;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.field {
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

button:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button.enviar {
  background: #3368d6;
}

main {
  grid-row: 2;
  grid-column: 2 / span 2;
}
